p {
    text-align: center;
}

.new-match-btn {
    width:100%;
    margin-left: 80%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.select-game-btn {
    width:160px;
    margin-left: 80%;
    margin-top: 10px;
    margin-bottom: 10px;
}