form {
  padding: 20px;
}

form select, input, button{
  width: 400px;
  padding: 12px 15px;
  margin: 8px 0;
  box-sizing: border-box;
  font-size: 18px;
}

.match {
  display: grid;
  border-radius: 1%;
  width: 30%;
  background-color: rgb(92, 250, 0);
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  color: white;
}

.logo-div {
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-div img {
  width:100px;
}

.logo-div p {
  color: rgb(47, 187, 223);
  font-size: 40px;
}