
Form, Select, Button {
  padding: 12px 15px;
  margin: 8px 0;
  box-sizing: border-box;
  font-size: 18px;
}

.bet {
  display: grid;
  border-radius: 1%;
  width: 100%;
  /* background-color: rgb(216, 227, 230); */
  justify-content: center;
  color: rgb(33, 34, 46);
}

.bet InputNumber {
  width: 100%;
}

/* .bet input, select {
  width: 100px;
  height: 45px;
  align-items: center;
} */

/* .bet #confirm-msg {
  width: 300px;
  align-items: center;
  text-align: center;
} */